/* CSS RESET */

*, *::after, *::before {
   box-sizing:border-box;
}

:root {
   --font-sans:El Messiri;
   --font-serif:Cinzel Decorative;

   --color-neutral-lighter:#DFE2F4;
   --color-neutral-light:#8A9BED;
   --color-neutral-mediumer:#B0B6F6;
   --color-neutral-medium:#5559B8;


    --color-main-light: #7DD4EE;
    --color-main-medium: #734CEE;




   --header-height:3.8rem;
}

body {
   margin:0;
   font-size:100%;
   font-family:var(--font-sans);
   font-weight:400;
   background-color:#353961;
   color:var(--color-neutral-mediumer);
}

h1,
h2 {
   color:var(--color-neutral-light);
   font-family:var(--font-serif);
}


h3,
h4,
h5,
h6 {
   color:var(--color-neutral-lighter);
   font-family:var(--font-sans);
}




a {
   color:var(--color-main-light);
/*   text-decoration:underline;*/
}
/*   a:hover {
      text-decoration: underline;
   }*/





/* LAYOUT CLASSES */

.container {
   max-width:1000px;
   margin-left: auto;
   margin-right: auto;
}
.hidden { display:none; }
.overscroll {
   height:100%;
   width:100%;
   overflow:auto;
}



.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex:none; }

.flex-justify-center { justify-content:center; }
.flex-align-center { align-items:center; }











/* FORMS */

.form-control {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
.ui-mobile label.form-label {
    margin: 0 1em 0.5em;
    font-size: 0.8em;
}
.form-input {
    width: 100%;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-neutral-medium);
    color:var(--color-neutral-lighter);
    background-color: #353961;
    padding: 0.7em 1em;
    border-radius: 2em;
    font: inherit;
    outline: 0;
}

.form-input:focus {
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-main-medium);

}
::placeholder {
  color:var(--color-neutral-mediumer);
}

.form-button {
    width: 100%;
    display: inline-block;
    border-width: 0;
    background-color: var(--color-main-medium);
    color:var(--color-neutral-lighter);
    padding: 0.5em 1em;
    border-radius: 2em;
    font-size: 1.3em;
    font-family:var(--font-sans);
    font-weight:700;
    outline: 0;
    text-align:center;
}
.form-button:hover {
   text-decoration:none;
   cursor:pointer;
}




.form-select {
  width: 100%;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-neutral-medium);
  color:var(--color-neutral-lighter);
  background-color: #353961;
  padding: 0.7em 1em;
  border-radius: 2em;
  font: inherit;
  font: inherit;
  outline: 0;
}

.form-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
}



.select-monster::before {
  content: "▶";
  color: var(--color-neutral-mediumer);
  position: absolute;
  z-index: 2;
  font-size: 0.8em;
  top: 50%;
  right: 1em;
  transform: translateY(-50%) rotate(90deg);
}





/* PAGE LAYOUTS */
.ui-mobile .ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   width:100%;
   height:100%;
   top:0;
   left:0;
}
[data-role='main'] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
}
.ui-header,
.ui-footer {
   flex: none;
   height:var(--header-height);
   line-height:var(--header-height);
   border-width:0;

   position:relative;
   overflow:hidden;
}

.ui-footer {
   background-color:#3A3E6B;
   box-shadow:0px 0px 15px rgba(38, 43, 87, 0.5);
  }

.ui-header .ui-title {
   margin:0;
   padding:0;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   text-align:center;
   z-index:1;
}






/* NAV */
.ui-footer ul,
.ui-header ul {
   position:relative;
   z-index:2;
   margin:0;
   padding:0;
   display:flex;
   list-style-type:none;
}
.ui-footer li {
   flex: 1 1 auto;
   text-align:center;
}
.ui-footer a,
.ui-header a {
   padding:0 1em;
   display:block;
}
.ui-footer a:hover,
.ui-header a:hover {
   text-decoration:none;
}






/* NAV ICON*/
img.icon {
   width:30%;
   margin-top: 10px;
}




/* PAGE SPECIFICS */
#signin-page [data-role='main'] {
   display:flex;
   flex-direction:column;
}
#signup-page [data-role='main'] {
   display:flex;
/*   align-items:center;
   justify-content:center;*/
   flex-direction:column;
}
#recent-page [data-role='main'] {
   background-image:url('../img/map_example.png');
   background-position:center;
   background-size:cover;
}









/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    z-index:10;
    pointer-events:none;
}
.modal.active {
    opacity: 1;
}
.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.6);
}
.modal.active .modal-back {
   pointer-events:initial;
}



/* MODAL POPUP */
.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 3em));
    width: 80vmin;
    transition:all 0.3s;
}
.modal.active .modal-popup {
    transform: translate(-50%,-50%);
   pointer-events:initial;
}
.modal-head {
    background-color:#3A3E6B;
    padding: 1em 1em;
}

.modal-foot {
    background-color:#353961;
    padding: 0em 1em 2.5em 1em;
}


.modal-body {
    background-color:#353961;
    padding: 1.5em 2em 1.5em 2em;
    border-radius: 2.5em 2.5em 0 0;
}


.modal-bodypop {
    background-color:#353961;
    padding: 0.5em 1em 1em 1em;
}


.modal-head h1 {
  font-size:1em;
  margin:0;
}





/* MODAL DRAWER */
.modal-drawer {
   position: absolute;
   display: flex;
   flex-direction: column;
   transition: all 0.3s;
   box-shadow:0 0 5px rgba(0,0,0,0.15);
}
.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width:70vw;
}
.modal-drawer.left { left: 0; transform:translateX(-100%); }
.modal-drawer.right { right: 0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   width: 100%;
   height:52vh;
}
.modal-drawer.top { top: 0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform:translate(0);
   pointer-events:initial;
}


.modal-drawer .modal-body {
   flex:1 1 100%;
}




.modal-toast {
   position: absolute;
   width: 50%;
   min-height: var(--header-height);
   background-color: #FEFFB5;
   border-radius: 0.2em;
   box-shadow: 1px 1px 5px rgba(38,43,87,0.3);
   left: 50%;
   text-align: center;
   padding: 1em;
   transition:all 0.3s;
}
.modal-toast.top {
   top:1em;
   transform:translate(-50%,-1em);
}
.modal-toast.bottom {
   bottom:1em;
   transform:translate(-50%,1em);
}
.modal.active .modal-toast {
   transform: translate(-50%,0);
   pointer-events:initial;
}
.message {
  color:var(--color-main-medium);
}














/* FLOATER */
.floater { position: absolute; }
.floater.right { right: 1em; }
.floater.left { left: 1em; }
.floater.top { top: 1em; }
.floater.bottom { bottom: 1em; }




/* CIRCLE */
.btn-circle {
   background-color:#3A3E6B;
   width:3rem;
   height:3rem;
   line-height:3.4rem;
   text-align:center;
   font-size:2.2em;
   border-radius:2em;
   box-shadow:0px 0px 15px rgba(38,43,87,0.5);
}








/* User Infor */
.user-infor-item {
   display: flex;
   margin: 1em;
   overflow: hidden;
}
.user-profile-image img {
   vertical-align: text-bottom;
   object-fit: cover;
}
.user-infor {
   padding:1.4em;
   flex: 1 1 auto;
}




.user-record {
   display: flex;
   margin: 1em;
   background-color: #484D85;
   border-radius: 1em;
   overflow: hidden;
}

.user-record-in {
  padding:18px;
}


.badge-icon{
   display:flex;
   margin-top:6px;
   align-items:flex-end;


}

.badge-icon-single img{
  width:75%;

}






/* SETTINGS */
.settings-list {
   list-style-type:none;
   padding:0;
   margin:0;
}
.settings-list a {
   padding: 0.8em 1em;
}
.settings-list li:not(:first-child) {
   border-top: 1px solid #5559B8;
}

.settings-list a {
   display:block;
   position: relative;
}
.settings-list a:not([href='#'])::after {
   position:absolute;
   content:'>';
   top:50%;
   right:1em;
   transform:translateY(-50%);
}





/* ANIMAL LIST */

.animallist-name {
   font-size:1.2em;
}


.monster-item-single {
  display: flex;
  overflow: hidden;
}




/* MONSTER PROFILE*/









